* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.container {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.header {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.title {
  cursor: pointer;
}

nav {
  background: #ffde00;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-items: baseline;
}

input {
  font-size: 15px;
  box-sizing: border-box;
  transition: 0.5s;
}

input[type="text"] {
  background: #fff;
  width: 350px;
  height: 30px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0px 0px 25px;
}

.button-search {
  position: relative;
  left: -5px;
  border-radius: 0px 25px 25px 0;
  width: 150px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #cc0000;
  color: #fff;
}

button[type="submit"]:hover {
  background: #3b4cca;
}

.filter-condition {
  padding: 15px;
  height: 90px;
  width: 20%;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 80px;
  width: 18%;
}

.filter-condition select {
  width: 100px;
  height: 30px;
  padding: 0px 0 0 10px;
  margin: 5px;
  border-radius: 25px 25px 25px 25px;
  outline: none;
  font-weight: bolder;
  color: black;
  background: #7ed4c9;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
*/ .sort-AZ {
  padding: 15px;
  height: 50px;
  width: 15%;
  font-size: 18px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sort-AZ {
  padding: 15px;
  height: 90px;
  width: 18%;
}

.sort-AZ select {
  width: 100px;
  height: 30px;
  margin: 0px;
  padding: 0 0 0 10px;
  border-radius: 25px 25px 25px 25px;
  outline: none;
  font-weight: bolder;
  color: black;
  background: #7ed4c9;
  cursor: pointer;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.root {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

#popUp {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.pokemon-card {
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
  height: 200px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  background: rgba(235, 233, 233, 0.2);
  cursor: pointer;
}

.pokemon-card img {
  width: 120px;
  height: 120px;
}

/*Estilo del nombre*/
p {
  font-size: 21px;
  letter-spacing: 0.3mm;
  margin-top: 8px;
  text-transform: capitalize; /*para que cada primera letra este en mayus */
  font-weight: bolder;
  color: black;
  margin-bottom: 10px;
  margin-top: 0px;
  font-family: 'Heebo', sans-serif;
}

/* Estilo del type*/
h5 {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  background: #7ece34;
  margin: auto;
  border-radius: 20px;
  max-width: 60%;
  height: 20px;
  text-transform: capitalize;
  font-family: 'Heebo', sans-serif;
}

.container-pokemon {
  display: flex;
  flex-direction: row;
  width: 100px;
}

#irArribaBoton {
  position: fixed;
  z-index: 1000;
  right: 25px;
  bottom: 25px;
  background-color: #3b4cca;
  width: 64px;
  height: 64px;
  color: white;
  text-align: center;
  border-radius: 50%;
  transition: all 0.2s;
}

#irArribaBoton:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.ocultar {
  opacity: 0;
  visibility: hidden;
}

.mostrar {
  opacity: 1;
  visibility: visible;
}

#popUp {
  width: 60%;
  height: 50%;
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  top: calc(40% - 50px);
  left: calc(25% - 30px);
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  border: none;
  
}

.popUp-name {
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;

}

#close {
  position: absolute;
  font-size: 20px;
  top: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
  opacity: 0.6;
  border: none;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 80px;
  background: #ffde00;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}


@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  body {
  }

  header {
    flex-direction: column;
    padding: 0;
  }

  header .logo {
    margin: 20px 0;
  }
}

@media screen and (max-width: 1068px) {
  nav .button-search {
    width: 15%;
  }
}
